<div class="container">
  <div class="row">
    <h1>Qo'shish</h1>
    <form action="/create/add" method="POST">
      <label for="">Sayt logosi</label>
      <input id="navicon" name="navicon" type="file" />
      <br>
      <br />
      <label for="">Sayt nomi</label>
      <input
        id="navtitle"
        name="navtitle"
        type="text"
        placeholder="Sayt nomi"
      />
      <br /><br />
      <div class="cub">
        <a href="/">Bosh sahifa</a>
        <input type="submit" />
      </div>
    </form>
  </div>
</div>
<br /><br /><br />
<hr />
<div class="container">
  <div class="row">
    <h1>O'zgartirish</h1>
    <form action="/create/edit/{{navinfo.id}}" method="POST">
      <label for="">Sayt logosi</label>
      <input
        id="navicon"
        name="navicon"
        type="file"
        value="{{navinfo.navicon}}"
      />
      <br>
      <br />
      <label for="">Sayt nomi</label>
      <input
        id="navtitle"
        name="navtitle"
        type="text"
        placeholder="Sayt nomi"
        value="{{navinfo.navtitle}}"
      />
      <br /><br />
      <div class="cub">
        <a href="/">Bosh sahifa</a>
        <input type="submit" />
      </div>
    </form>
  </div>
</div>